<!DOCTYPE html>
<html>
  <head>
    <title>Violet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/header" %>
    <%= render "shared/nav_bar" %>
    <div>
      <ul class="row contents-row">
        <%= render "shared/left_sidebar" %>
        <%= render "shared/main_contents" %>
        <%= render "shared/right_sidebar" %>
      </ul>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
